apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-crds
  namespace: traefik
spec:
  interval: 15m
  timeout: 5m
  chart:
    spec:
      chart: traefik-crds
      version: '1.12.0'
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 5m
  releaseName: traefik-crds
  values:
    gatewayAPI: true
    gatewayAPIExperimental: true